* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 15vh;
  background-color: #ccc;
}
